<div>
  <div class="cards-wrapper-loading" *ngIf="!(transactionService.getAll$() | async)">Carregando...</div>
  <app-card-item *ngFor="let transaction of transactionService.getAll$() | async"
                 [transaction]="transaction"
  ></app-card-item>
</div>
