<div class="body-content">
  <div class="body-content__filters">
    <app-searchbar></app-searchbar>
    <app-status-select></app-status-select>
  </div>
  <app-cards-wrapper></app-cards-wrapper>
</div>
