<div class="card-item-wrapper" (click)="handleCardClick()">
  <div class="card-item-wrapper__content">
    <div class="card-item-wrapper__logo">{{transaction?.title | firstLetter }}</div>
    <div class="card-item-wrapper__data">
      <div class="card-item-wrapper__data--descriptions">
        <div class="card-item-wrapper__data--descriptions--title"> {{transaction?.title}} </div>
        <small class="card-item-wrapper__data--descriptions--resume">{{ transaction?.description}}</small>
      </div>
      <div class="card-item-wrapper__data--descriptions">
        <small class="card-item-wrapper__data--descriptions--value"
               *ngIf="transaction">{{transaction.amount | moneyFormatter}}</small>
        <small
          class="card-item-wrapper__data--descriptions--status bg-color-warning">{{transaction?.status | statusTranslate}}</small>
      </div>
    </div>
  </div>
</div>
