.card-item-wrapper {
  font-size: 14px;
  border-radius: 2px;
  min-height: 66px;
  padding: 4px 8px;
  box-shadow: 0 0 2px #000;
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;

  &:hover {
    background-color: #e3e4eb;
    transition: background-color 1s;
    cursor: pointer;
  }

  .card-item-wrapper__content {
    display: flex;
    align-items: center;
    width: 100%;

    .card-item-wrapper__logo{
      font-size: 24px;
      color: #7f7f7f;
      font-weight: bolder;
    }

    .card-item-wrapper__data {
      margin-left: 12px;
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      margin-top: 16px;

      .card-item-wrapper__data--descriptions {
        display: flex;
        flex-direction: column;

        .card-item-wrapper__data--descriptions--title {
          font-weight: bold;
          margin-bottom: 6px;
          font-size: 16px;
        }

        .card-item-wrapper__data--descriptions--resume{
          white-space: nowrap;
          overflow: hidden;
          width: 202px;
          text-overflow: ellipsis;
        }

        .card-item-wrapper__data--descriptions--value{
          margin-bottom: 6px;
        }

        .card-item-wrapper__data--descriptions--status {
          display: flex;
          justify-content: center;
          border-radius: 8px;
          padding: 4px;
        }
      }
    }
  }
}
