$progressTodoBorder: #e3e4eb;

.progress-track {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 2em 1em;
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;

  .progress-track__item {
    display: table-cell;
    line-height: 3em;
    position: relative;
    text-align: center;

    .progress-track__item__icon-wrap {
      border-radius: 50%;
      top: -.7em;
      color: #fff;
      display: block;
      height: 1em;
      margin: 0 auto -2em;
      left: 0;
      right: 0;
      position: absolute;
      width: 1em;
    }

    .icon-check-mark, .icon-down-arrow {
      height: 25px;
      width: 15px;
      display: inline-block;
      fill: currentColor;
    }

    .progress-track__item__content {
      display: flex;
      justify-content: center;
    }

    .progress-track__item__content--text {
      position: relative;
      top: 10px;
      font-size: 12px;
    }

    &.progress-track__item--done {
      border-top: 2px solid var(--primary-color);
      transition: border-color 1s ease-in-out;
      -webkit-transition: border-color 1s ease-in-out;
      -moz-transition: border-color 1s ease-in-out;

      .icon-down-arrow {
        display: none;
      }

      &.progress-track__item--current {

        .progress-track__item__icon-wrap {
          background-color: #FFF;

          .icon-check-mark {
            display: none;
          }

          .icon-down-arrow {
            display: block;
          }
        }
      }

      .progress-track__item__icon-wrap {
        background-color: var(--primary-color);
        border: 2px solid var(--primary-color);;
      }
    }

    &.progress-track__item--todo {
      border-top: 2px solid $progressTodoBorder;
      transition: border-color 1s ease-in-out;
      -webkit-transition: border-color 1s ease-in-out;
      -moz-transition: border-color 1s ease-in-out;

      .icon-down-arrow {
        display: none;
      }

      .progress-track__item__icon-wrap {
        background-color: #FFF;
        border: 2px solid $progressTodoBorder
      }
    }
  }
}
