<ol class="progress-track">

  <li class="progress-track__item"
      [ngClass]="{
        'progress-track__item--done': firstStage === stages.current || firstStage === stages.done,
        'progress-track__item--current': firstStage === stages.current,
        'progress-track__item--todo': firstStage === stages.todo
      }"
  >
    <div class="progress-track__item__content">
      <div class="progress-track__item__icon-wrap">
        <svg class="icon-state icon-check-mark">
          <use xlink:href="#icon-check-mark"></use>
        </svg>

        <svg class="icon-state icon-down-arrow">
          <use xlink:href="#icon-down-arrow"></use>
        </svg>
      </div>
      <span class="progress-track__item__content--text"> {{texts.statusOptionCreated}} </span>
    </div>
  </li>

  <li class="progress-track__item"
      [ngClass]="{
        'progress-track__item--done': secondStage === stages.done || secondStage === stages.current,
        'progress-track__item--current': secondStage === stages.current,
        'progress-track__item--todo': secondStage === stages.todo
      }"
  >
    <div class="progress-track__item__content">
      <div class="progress-track__item__icon-wrap">
        <svg class="icon-state icon-check-mark">
          <use xlink:href="#icon-check-mark"></use>
        </svg>

        <svg class="icon-state icon-down-arrow">
          <use xlink:href="#icon-down-arrow"></use>
        </svg>
      </div>
      <span class="progress-track__item__content--text"> {{texts.statusOptionProcessing}} </span>
    </div>
  </li>

  <li class="progress-track__item"
      [ngClass]="{
        'progress-track__item--done': thirdStage === stages.done || thirdStage === stages.current,
        'progress-track__item--todo': thirdStage === stages.todo
      }"
  >
    <div class="progress-track__item__content">
      <div class="progress-track__item__icon-wrap">
        <svg class="icon-state icon-check-mark">
          <use xlink:href="#icon-check-mark"></use>
        </svg>

        <svg class="icon-state icon-down-arrow">
          <use xlink:href="#icon-down-arrow"></use>
        </svg>
      </div>
      <span class="progress-track__item__content--text">{{texts.statusOptionProcessed}}</span>
    </div>
  </li>

</ol>
