.searchbar-wrapper__input {
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');
  background-position: 10px 5px;
  background-repeat: no-repeat;
  height: 32px;
  box-sizing: border-box;
  padding-left: 36px;
  padding-right: 12px;
  width: 100%;
}

@media (min-width:979px) {
  .searchbar-wrapper__input {
    width: 400px;
  }
}
