.loading-text-wrapper {
  height: 266px;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-text-wrapper__text {

  }
}
.details-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .details-modal-content__summary {
    display: flex;
    flex-direction: column;
    width: 100%;

    .details-modal-content__summary__fromto {
      margin-bottom: 32px;


      .details-modal-content__summary__fromto__line {
        margin-top: 6px;
        border-top: 1px solid #e3e4eb;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: bolder;
      }
    }
  }
}
