<app-details-modal (close)="closeModal($event)">
  <div class="loading-text-wrapper" *ngIf="!transaction; else modalContent">
    <p>Carregando...</p>
  </div>
  <ng-template #modalContent>
    <div class="details-modal-content">
      <h1>{{ transaction?.title }}</h1>
      <app-status-progress  [status]="transaction?.status"></app-status-progress>
      <div class="details-modal-content__summary">
        <div class="details-modal-content__summary__fromto">
          <h3> {{texts.transactionSummaryFrom }} </h3>
          <div class="details-modal-content__summary__fromto__line ">
            <div>{{ transaction?.from }}</div>
            <div *ngIf="transaction">{{ transaction.amount | moneyFormatter }}</div>
          </div>
        </div>
        <div class="details-modal-content__summary__fromto">
          <h3> {{ texts.transactionSummaryTo }} </h3>
          <div class="details-modal-content__summary__fromto__line">
            <div>{{ transaction?.to }}</div>
            <div *ngIf="transaction">{{ transaction.amount | moneyFormatter }}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</app-details-modal>
