.header-wrapper {
  height: 56px;
  background-color: #e3e4eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;

  @media (min-width:801px) {
    .header-wrapper__content {
      width: 60%;
      margin: 0 auto;
    }
  }
}
