<div class="custom-select">
  <div class="custom-select__select-selected" [ngClass]="{'custom-select___select-arrow-active': opened}"
       (click)="toggle()"> {{ selectedItem?.title ? selectedItem?.title : placeholder }} </div>
  <div class="custom-select__select-items" [ngClass]="{'custom-select__select-hide': !opened}">
    <div (click)="clearSearch()"> - </div>
    <div *ngFor="let option of options" (click)="handleChange(option)"> {{ option.title }} </div>
  </div>
</div>
