/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  height: 32px;
  min-width: 150px;
  margin-left: 4px;

  .custom-select__select-selected {
    border-radius: 2px;
    background-color: #ee2e5d;
  }

  /*style the arrow inside the select element:*/
  .custom-select__select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color:  #fff transparent transparent transparent;
  }

  /*point the arrow upwards when the select box is open (active):*/
  .custom-select__select-selected.custom-select___select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px !important;
  }

  /*style the items (options), including the selected item:*/
  .custom-select__select-items div,.custom-select__select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }

  .custom-select__select-items {
    position: absolute;
    background-color: #ee2e5d;
    border-radius: 2px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  /*hide the items when the select box is closed:*/
  .custom-select__select-hide {
    display: none;
  }

  .custom-select__select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

}


