<!-- The Modal -->
<div [id]="modalWrapperId" class="modal-wrapper">

  <!-- Modal content -->
  <div class="modal-wrapper__modal-content">
    <span class="modal-wrapper__modal-content--close" (click)="closeAction()">&times;</span>
    <ng-content></ng-content>
  </div>
</div>
