
/* The Modal (background) */
.modal-wrapper {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


  /* Modal Content */
  .modal-wrapper__modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

    @media (min-width:801px) {
      width: 50%;
    }

    /* The Close Button */
    .modal-wrapper__modal-content--close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .modal-wrapper__modal-content--close:hover,
    .modal-wrapper__modal-content--close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

